<div class="container">
    <div class="logo">
        <a href="/">
            <img src="/assets/sysadminctl.services-logo-white.svg" alt="Logo de sysadminctl.service">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/filosofia/">Nuestra Filosofía</a></li>
            <li class="cta"><a href="/productos/">Ver Soluciones</a></li>
        </ul>
    </nav>
    <button class="menu-toggle" aria-label="Menú"></button>
</div>